# Byte-compiled / optimized / DLL files
__pycache__/

# TCC in the project directory for convenience
include/
lib/
tcc.exe
tiny_impdef.exe
tiny_libmaker.exe

# Other files:
disorderCook_8005.bat
disorderCook_with_auth.bat
disorderCook_with_excess.bat
accounts.json
*.exe
